:root {
    --white-color: #FFFFFF;
    --primary-color: #0A1128;
    --secondary-color: #FF6B6B;
    --light-gray-color: #ccc;
    --gap: 3rem;
}

/* ================= GLOBAL ================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 400;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/* ================= SEÇÕES ================= */
.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
    width: 100%;
}

/* Intro */
.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
    position: relative;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-img img {
    width: 100%;
    height: auto;
}

/* Logo */
.logo-img img {
    width: 70px;
    height: auto;
}

/* Top3 content */
.top3-content {
    max-width: 64rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

/* Grid One Content */
.grid-one-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description {
    padding-bottom: 5rem;
}

/* Grids */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

/* Gallery */
.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

/* Formulários */
.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group {
    flex: 1 1 320px;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--white-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 1.6rem;
    outline: none;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 10px 2px var(--secondary-color);
}

.form-group button {
    border: 0.5rem solid var(--white-color);
    background: none;
    color: var(--white-color);
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}

.form-group ::placeholder {
    color: var(--light-gray-color);
}

/* ===================== WHATS APP FLOAT ===================== */
.whats-float {
    position: fixed;
    border-color: #0A1128;
    bottom: 1.6%;
    right: 8rem;
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 9999;
}

.whats-icon {
    width: 48px;
    height: 48px;
}

/* Footer */
.footer {
    display: flex;
    text-align: center;
    font-size: 1.6rem;
}

.footer a {
    color: var(--primary-color);
}

.heart {
    color: var(--secondary-color);
}

.footer p {
    margin: 0;
    padding: 3rem;
}

/* ================= BACK TO TOP ================= */
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
    z-index: 9999;
}

/* ================= LOGOS ================= */
.logo-img img {
    width: 70px;
    height: auto;
}

/* ================= TITULOS ================= */
h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1.2rem;
}

/* ================= MEDIA QUERIES ================= */
@media (max-width: 1024px) {
    .intro-content {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .gallery-img {
        max-width: 100%;
        max-height: 100%;
    }

    .grid-one-content {
        display: block;
    }
}

/* ================= MENU MOBILE ================= */
@media (max-width: 767px) {
    .menu {
        position: fixed;
        top: 0;
        left: -250px;
        width: 220px;
        height: 100%;
        padding-top: 60px;
        flex-direction: column;
        background-color: var(--white-color);
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        z-index: 9999;
        transition: left 0.3s ease;
        overflow-y: auto;
    }

    #close-menu:checked~.menu {
        left: 0;
    }

    .menu nav ul {
        flex-direction: column;
    }

    .menu nav ul li {
        margin: 1rem 0;
    }

    .menu nav ul li a {
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    .close-menu-label::after {
        content: '☰';
        position: fixed;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: white;
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        cursor: pointer;
        z-index: 10001;
    }

    #close-menu:checked~.close-menu-label::after {
        content: '×';
    }

    .menu-spacing {
        display: none;
    }

    /* Reduzindo tamanho de títulos */
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1rem;
    }

}